@model LoginViewModel
@{
    ViewData["Title"] = "Autentificare";
}

<div class="row">
    <div class="col-md-4 p-4">
        <form asp-action="Index" asp-controller="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-info">
                    <input type="radio" name="IsPacient" asp-for="IsPacient" id="option1" autocomplete="off" value="@Boolean.TrueString">Pacient
                </label>
                <label class="btn btn-outline-info">
                    <input type="radio" name="IsPacient" asp-for="IsPacient" id="option2" autocomplete="off" value="@Boolean.FalseString">Medic
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Autentificare" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>