@model AdminViewModel

@{
    ViewData["Title"] = "Admin";
}

<div class="container text-center">
    <div class="row text-center border-info">
        <div class="col-md-4 p-4">
            <form asp-action="Index" asp-controller="Admin" enctype="multipart/form-data" role="form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="custom-file">
                    <input asp-for="Image" type="file" class="custom-file-input" id="customFile">
                    <label asp-for="Image" class="custom-file-label" for="customFile">Alege poză specializare</label>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Descriere</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Denumire</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Adăugare specializare nouă" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        @foreach (var medic in Model.Medics)
        {
            <partial name="_ApproveMedic" model="medic" />
        }

        @foreach (var patient in Model.Patients)
        {
            <partial name="PatientCardAdmin" model="patient" />
        }
    </div>
</div>

<script src="~/lib/js/DocumentLabel.js"></script>