@model AppointmentPatientViewModel

@{
    ViewData["Title"] = "Programări";
}

<partial name="_PacientPartial" model="@Model.Patient.Id" />

@if (Model.Appointments.Any())
{
    @foreach (var appointment in Model.Appointments)
    {
        var id = $"exampleModal" + appointment.IdMedic;

        <div id="appointmentsPatientBody">

        </div>

        <input type="hidden" id="idPatientInput" value="@appointment.IdPatient" />

        <partial name="MedicModal" model="@appointment.Medic" />

        <script id="appointmentsPacient-template" type="text/x-handlebars-template">
            <div class="card">
                <div class="card-header">
                    DR. {{medicFirstName}} {{medicLastName}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{appointmentDate}}</h5>
                    <p class="card-text">{{details}}</p>
                    <p class="card-text">{{type}}</p>

                    <button type="button" data-id="exampleModal{{idMedic}}" class="btn btn-outline-success modalButton">
                        Vizualizare profil medic
                    </button>

                    {{#if (isvalid appointmentDate)}}
                    <a href="/Patient/EditAppointment/{{idAppointment}}" class="btn btn-outline-primary">Editează detaliile programării</a>

                    <a href="/Patient/DeleteAppointment/{{idAppointment}}/{{idPatient}}" class="btn btn-outline-danger">Anulează programarea</a>
                    {{/if}}
                </div>
            </div>
        </script>
    }
}
else
{
    <div class="mt-3 p-2 alert-info text-center">
        <h2>Nu aveți nicio programre!</h2>
    </div>
}




<script src="/lib/js/AppointmentsPatient.js"></script>
<script src="~/lib/js/Delete.js"></script>
<script src="~/lib/js/Helper.js"></script>