@model MakeAppointmentViewModel

<partial name="_PacientPartial" model="@Model.Patient.Id" />

<div class="row justify-content-md-center">
    <div class="col-md-4 p-4">
        <h3>Programare medic @Model.Medic.Person.FirstName @Model.Medic.Person.LastName</h3>
        <form asp-action="EditAppointment" asp-controller="Patient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Patient.Id" type="hidden" />
            <input asp-for="Appointment.IdMedic" type="hidden" />
            <input asp-for="Appointment.IdPatient" type="hidden" />
            <input asp-for="Appointment.Id" type="hidden" />
            <input asp-for="Medic.Person.FirstName" type="hidden" />
            <input asp-for="Medic.Person.LastName" type="hidden" />
            <div class="form-group">
                <label asp-for="Appointment.Details" class="control-label">Detalii</label>
                <input asp-for="Appointment.Details" class="form-control" />
                <span asp-validation-for="Appointment.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentDate" class="control-label">Dată și oră programare</label>
                <input asp-for="Appointment.AppointmentDate" class="form-control" />
                @if (!Model.isValid)
                {<span asp-validation-for="Appointment.AppointmentDate" class="text-danger">Nu puteți face programare la acea dată!</span>}
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Type" class="control-label">Locație</label>
                <select asp-for="Appointment.Type" class="form-control">
                    <option value="Cabinet">Cabinet</option>
                    <option value="Domiciliu">Domiciliu</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Editare" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>