@model MedicsForPatientsViewModel

<partial name="_PacientPartial" model="@Model.Patient.Id" />

@if (Model.Medics.Any())
{
    @foreach (var medic in Model.Medics)
    {
        if (medic.IsApproved == bool.TrueString)
        {
            var idMedic = $"exampleModal" + medic.Id;
            <div class="card partial-card">
                <partial name="_MedicPartialCard" model="medic" />

                <div class="card-body">
                    <div class="d-inline">
                        <button type="button" data-id="@idMedic" class="btn btn-outline-success modalButton">
                            Vizualizare profil medic
                        </button>
                    </div>

                    <div class="d-inline">
                        <a asp-controller="Patient" asp-action="MakeAppointment" asp-route-idPatient="@Model.Patient.Id" asp-route-idMedic="@medic.Id"
                           class="btn btn-outline-info">
                            Progamare
                        </a>
                    </div>
                </div>
                

                <partial name="MedicModal" model="medic" />
            </div>
        }
    }
}
else
{
    <div class="mt-3 p-2 alert-info text-center">
        <h3>Momentan nu avem niciun medic înregistrat pentru specialitatea aleasă!</h3>
    </div>

}

<script src="~/lib/js/MedicModal.js"></script>