@model Guid

<div>
    <nav class="navbar navbar-light navbarcustom">
        <a class="navitems" asp-controller="Medic" asp-action="Profile" asp-route-idMedic="@Model"><p>PROFIL</p></a>
        <a class="navitems" asp-controller="Medic" asp-action="Appointments" asp-route-idMedic="@Model"><p>PROGRAMĂRI</p></a>
        <a class="navitems" asp-controller="Medic" asp-action="Patients" asp-route-idMedic="@Model"><p>PACIENȚI</p></a>
    </nav>
</div>