@model Medic

<div class="card-header">
    @Model.Specialization.Name
</div>
<div class="card-body">
    <div class="float-left">
        <h5 class="card-title">@Model.Person.FirstName @Model.Person.LastName</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <div class="float-right">
        @if (Model.Image !=null)
        {<img class="image-card" src="data:@Model.Image.MimeType;base64,@(Convert.ToBase64String(Model.Image._Image))" alt="Image" />}
    </div>
</div>