@model Medic

<div class="pos-f-t">
    <nav class="navbar navbar-dark navbarcustom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="navbarcustom">
            <ul class="navbar-nav" id="menu">
                <li><a class="menu-item" asp-controller="Medic" asp-action="Profile" asp-route-idMedic="@Model.Id" ><p>PROFIL</p></a></li>
                <li><a class="menu-item" asp-controller="Medic" asp-action="Appointments" asp-route-idMedic="@Model.Id"><p>PROGRAMĂRI</p></a></li>
                <li><a class="menu-item" asp-controller="Medic" asp-action="Patients" asp-route-idMedic="@Model.Id"><p>PACIENȚI</p></a></li>
            </ul>
        </div>
    </div>
</div>