@{
    ViewData["Title"] = "Contact";
}


<div class="mt-3 contact-controller p-2 alert-info text-center">
    <h2>Contactați-ne aici!</h2>
    <email email="contact.medicify@gmail.com" body="Contact"></email>
</div>
